# SECTION: DATA
# Data directories
*data
data/**
temp*

# Simulation data input
*.in

# Simulation data output
*.csv
*.xlsx
*.png
*.eps
*.svg
*.txt
*.out
*.json
*.lammpstrj
*.gsd
*.tar.xz

# Testing data output
Testing

# traces
*.trace
*.data
# !SECTION (DATA)

# SECTION: DOCUMENTATION
# Doxygen
docs/html/**
docs/latex/**
# !SECTION


# SECTION PYTHON
# Python caches
*.pyc
*.pkl
# !SECTION (PYTHON)



# SECTION: CMAKE
# Build directories
cmake-*
build/*
build*
# !SECTION (CMAKE)



# SECTION: C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# !SECTION (C++)



# SECTION: CACHES
# clangd language server files
.clangd/*
.clangd*

# ccls language server files
.ccls-cache/*
.ccls-cache*

# caches
.cache/*
.cache*

# MacOS files
.DS_Store
*.DS_Store
# !SECTION (CACHES)



# SECTION: EXCEPTIONS
# Save everything in directories below
!input/**
input/.DS_Store
!requirements/**
!src/**
!tests/**
tests/output/**

# Important configurations
!.cmake-format.json
!compile_commands.json

# VSCode files
!.vscode/*

# CMAKE files
!**/CMakeLists.txt
# !SECTION (EXCEPTIONS)
